body {
  margin: 0;
  font-family: Arial;
  background: #fff8f0;
}

.container {
  width: 768px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FIX iPad (plus de sticky) */
.header {
  position: relative;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff8f0;
  padding: 10px 0;
}

.header img {
  width: 96px;
}

#total {
  font-size: 30px;
  background: #fec1c3;
  padding: 10px;
  border-radius: 15px;
}

/* GRID */
.row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  width: 100%;
  margin: 10px 0;
}

.center {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.two {
  display: grid;
  grid-template-columns: repeat(2, 120px);
  justify-content: center;
}

.three {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  justify-content: center;
}

/* CARD */
.card {
  text-align: center;
  cursor: pointer;
}

.card img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 4px solid transparent;
}

.selected img {
  border: 4px solid #ed7985;
}

/* FOOTER */
.footer {
  margin-top: auto;
  width: 100%;
  text-align: center;
}

button {
  padding: 10px;
  margin: 5px;
  background: #ed7985;
  color: white;
  border: none;
  border-radius: 10px;
}

.reset {
  background: #68b3d0;
}

/* FIX clic iPad */
* {
  pointer-events: auto !important;
}